body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #13326c 0%, #2a5298 100%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1em;
}

input::placeholder {
    color: #cccccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #1e3c72;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ffffff;
    color: #1a489c;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}
