body {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    margin: 8px;
}
form {
    background-color: #1a202c;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 20rem;
    margin: auto;
    margin-top: 10rem;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #718096;
    color: #e2e8f0;
}
input::placeholder {
    color: #718096;
}
button {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid #38b2ac;
    color: #38b2ac;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background
}